html, body {
  height: 100%; }

html {
  scroll-behavior: smooth; }

body {
  position: relative; }

p {
  letter-spacing: 0.06em;
  line-height: 1.6; }

.h1 {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 700; }

.h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem; }
  .h2 > span {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
    display: block;
    padding: 5px;
    background: #00afd9;
    color: white;
    width: 10em;
    margin: auto; }

.h3 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 10px; }
  .h3:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: #00afd9; }

.btn {
  font-family: "Noto Sans JP", sans-serif; }

.btn-lg {
  padding: 18px 36px; }

.btn-pink {
  min-width: 50%;
  background-color: #fc6ea0;
  color: #ffffff;
  border: 2px solid #fc6ea0;
  background-size: 200% 100%;
  background-image: -webkit-linear-gradient(left, transparent 50%, white 50%);
  background-image: linear-gradient(to right, transparent 50%, white 50%);
  -webkit-transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease, box-shadow 0.5s ease;
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  .btn-pink:hover {
    background-color: white;
    background-position: -100% 100%;
    color: #fc6ea0;
    border: 2px solid #fc6ea0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

.navbar-nav .nav-link {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  color: inherit; }

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 52, 64, 0.1); }

#main,
#works,
#about,
#contact {
  background: white; }

#main {
  overflow: hidden; }
  #main > .container {
    display: flex;
    align-items: center;
    height: 100%; }
  #main img {
    margin-left: auto;
    margin-right: -100px;
    margin-top: -50px;
    max-height: 100%; }
  #main .main-text {
    position: absolute;
    animation: SlideIn 1s; }
    #main .main-text .h1 {
      color: #00afd9;
      text-shadow: 2px 2px 10px white; }
    #main .main-text p:not(.h1) {
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 700;
      line-height: 2; }

@keyframes SlideIn {
  0% {
    transform: translateX(-150%); }
  100% {
    transform: translateX(0); } }
/* animation */
@-webkit-keyframes passing-bar {
  0% {
    left: 0;
    right: auto;
    width: 0; }
  50% {
    left: 0;
    right: auto;
    width: 100%; }
  51% {
    left: auto;
    right: 0;
    width: 100%; }
  100% {
    left: auto;
    right: 0;
    width: 0; } }
@keyframes passing-bar {
  0% {
    left: 0;
    width: 0; }
  50% {
    left: 0;
    width: 100%; }
  51% {
    left: 0;
    width: 100%; }
  100% {
    left: 100%;
    width: 0; } }
@-webkit-keyframes passing-txt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes passing-txt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.passing .passing-box {
  display: block; }

.passing .passing-bar {
  position: relative;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.passing .passing-bar:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: #00afd9; }

.passing .passing-txt {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.passing.move .passing-bar:before {
  -webkit-animation: passing-bar 1s ease 0s 1 normal forwards;
  animation: passing-bar 1s ease 0s 1 normal forwards; }

.passing.move .passing-txt {
  -webkit-animation: passing-txt 0s ease .5s 1 normal forwards;
  animation: passing-txt 0s ease .5s 1 normal forwards; }

#about .skill-bg {
  background: linear-gradient(-180deg, white 150px, rgba(0, 175, 217, 0.1) 150px); }
#about .skill:not(.card) {
  padding-left: 60px;
  min-height: 60px;
  display: flex;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left center;
  flex-flow: column;
  justify-content: center; }
  #about .skill:not(.card) > strong {
    font-family: "Nunito", sans-serif;
    font-size: 1.1em; }
  #about .skill:not(.card) > span {
    color: #666666;
    font-size: 0.9em; }
  #about .skill:not(.card).ps {
    background-image: url("../assets/skill-ps.png"); }
  #about .skill:not(.card).ai {
    background-image: url("../assets/skill-ai.png"); }
  #about .skill:not(.card).xd {
    background-image: url("../assets/skill-xd.png"); }
  #about .skill:not(.card).code {
    background-image: url("../assets/skill-code.png"); }
  #about .skill:not(.card).git {
    background-image: url("../assets/skill-git.png"); }
#about .skill.card .card-title {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.15em;
  font-size: 1.5rem;
  text-align: center; }

.bg_scroll {
  min-height: 400px; }
  .bg_scroll:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../assets/para01.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1; }

header {
  position: fixed;
  top: -102px;
  left: 0;
  right: 0;
  z-index: 3;
  transition: all .5s;
  padding: 20px 0; }
  header.smaller {
    top: 0;
    padding: 10px 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
    header.smaller .navbar-brand {
      width: 200px; }

footer {
  background: #e8f1f3; }
  footer p {
    font-size: 0.8rem;
    color: #a7b2b5;
    text-align: center; }

@media (max-width: 767.98px) {
  .h2 {
    font-size: 2rem; }

  .navbar-brand {
    width: calc(100% - 72px); }

  #main {
    height: 80vh; }
    #main .main-text .h1 {
      font-size: 5rem; }
    #main .main-text p:not(.h1) {
      font-size: 1.5rem; }

  #works,
  #about .skill-bg {
    padding-bottom: 50px; }

  #about {
    padding-top: 50px; }

  #contact {
    padding: 50px 0; } }
@media (min-width: 767.99px) {
  .h1, .h2 {
    font-size: 3rem; }

  .h2 {
    margin-bottom: 3rem; }

  #main {
    height: 110vh; }
    #main .main-text .h1 {
      font-size: 10rem; }
    #main .main-text p:not(.h1) {
      font-size: 2rem; }

  #works,
  #about .skill-bg {
    padding-bottom: 100px; }

  #about {
    padding-top: 100px; }

  #contact {
    padding: 100px 0; } }

/*# sourceMappingURL=styles.css.map */
