$main-color: #00afd9;
$pink-color: #fc6ea0;
$g-ja-font: 'Noto Sans JP', sans-serif;
$g-en-font: 'Nunito', sans-serif;
$g-script-font: 'Mrs Saint Delafield', cursive;
html,body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
  position: relative;
}
p {
    letter-spacing: 0.06em;
    line-height: 1.6;
}
.h1 {
    font-family: $g-script-font;
    font-weight: 700;
}
.h2 {
    font-family: $g-en-font;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
    > span {
        font-family: $g-ja-font;
        font-size: 1rem;
        display: block;
        padding: 5px;
        background: $main-color;
        color: white;
        width: 10em;
        margin: auto;
    }
}

.h3 {
    font-family: $g-en-font;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
    &:after {
        content: "";
        display: block;
        margin-top: 10px;
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background: $main-color;
    }
}
.btn {
    font-family: $g-ja-font;
}
.btn-lg {
    padding: 18px 36px;
}
.btn-pink {
    min-width: 50%;
    background-color: $pink-color;
    color: #ffffff;
    border: 2px solid $pink-color;
    background-size: 200% 100%; 
    background-image: -webkit-linear-gradient(left, transparent 50%, white 50%);   
    background-image: linear-gradient(to right, transparent 50%, white 50%);
    -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease, box-shadow .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease, box-shadow .5s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    &:hover {
        background-color: white;
        background-position: -100% 100%;
        color: $pink-color;
        border: 2px solid $pink-color;
        box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    }
}
.navbar-nav .nav-link {
    font-family: $g-ja-font;
    letter-spacing: 0.1em;
    color: inherit;
}
.card {
    border: none;
    box-shadow: 0 0 10px rgba(darken($main-color,30), 0.1);
}
#main,
#works,
#about,
#contact {
    background: white;
}
#main {
    overflow: hidden;
    > .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    img {
        margin-left: auto;
        margin-right: -100px;
        margin-top: -50px;
        max-height: 100%;
    }
    .main-text {
        position: absolute;
        animation: SlideIn 1s;
        .h1 {
            color: $main-color;
            text-shadow: 2px 2px 10px white;
        }
        p:not(.h1) {
            font-family: $g-ja-font;
            font-weight: 700;
            line-height: 2;
        }
    }
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* animation */
@-webkit-keyframes passing-bar{
    0% {
        left: 0;
        right: auto;
        width: 0;
    }
    50% {
        left: 0;
        right: auto;
        width: 100%;
    }
    51% {
        left: auto;
        right: 0;
        width: 100%;
    }
    100% {
        left: auto;
        right: 0;
        width: 0;
    }
}
@keyframes passing-bar{
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    51% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}
@-webkit-keyframes passing-txt{
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes passing-txt{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* css */
.passing .passing-box {
    display: block;
}
.passing .passing-bar {
    position: relative;
    display: inline-block;
    /*　後ほど解説　*/
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.passing .passing-bar:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* 任意の値 */
    background: $main-color;
}
.passing .passing-txt {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.passing.move .passing-bar:before {
    -webkit-animation: passing-bar 1s ease 0s 1 normal forwards;
    animation: passing-bar 1s ease 0s 1 normal forwards;
}
.passing.move .passing-txt {
    -webkit-animation: passing-txt 0s ease .5s 1 normal forwards;
    animation:passing-txt 0s ease .5s 1 normal forwards;
}

#about {
    .skill {
        &-bg {
            background: linear-gradient(-180deg, white 150px , rgba($main-color, 0.1) 150px);
        }
        &:not(.card) {
            padding-left: 60px;
            min-height: 60px;
            display: flex;
            background-size: 50px;
            background-repeat: no-repeat;
            background-position: left center;
            flex-flow: column;
            justify-content: center;
            > strong {
                font-family: $g-en-font;
                font-size: 1.1em;
            }
            > span {
                color: #666666;
                font-size: 0.9em;
            }
            &.ps {
                background-image: url("../assets/skill-ps.png");
            }
            &.ai {
                background-image: url("../assets/skill-ai.png");
            }
            &.xd {
                background-image: url("../assets/skill-xd.png");
            }
            &.code {
                background-image: url("../assets/skill-code.png");
            }
            &.git {
                background-image: url("../assets/skill-git.png");
            }            
        }
        &.card {
            .card-title {
                font-family: $g-en-font;
                letter-spacing: 0.15em;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}
.bg_scroll {
    min-height: 400px;
    &:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url('../assets/para01.jpg');
        background-size: cover;
        z-index: -1;
    }
}

/*.bg_scroll {
    background: no-repeat;
    background-size: cover;
    min-height: 400px;
    &.bg-01 {
        background-image: url('../assets/para01.jpg');
    }
    &.bg-02 {
        background-image: url('../assets/para02.jpg');
    }
}*/
/*.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}*/