header {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #ffffff;
	transition: all .2s;
	padding: 20px 0;
	&.smaller {
		padding: 10px 0;
		box-shadow: 0 2px 4px rgba(0,0,0,0.05);
		.navbar-brand {
			width: 200px;
		}
	}
}