$content-padding : 100px;
.h1,.h2 {
    font-size: 3rem;
}
.h2 {
    margin-bottom: 3rem;
}
#main {
    height: 110vh;
    .main-text {
        .h1 {
            font-size: 10rem;
        }
        p:not(.h1) {
            font-size: 2rem;
        }
    }
}
#works,
#about .skill-bg {
    padding-bottom: $content-padding;
}
#about {
    padding-top: $content-padding;
}
#contact {
    padding: $content-padding 0;
}