.h2 {
    font-size: 2rem;
}
.navbar-brand {
    width: calc(100% - 72px);
}
#main {
    p {
        font-size: 1.5rem;
    }
}

#works,
#about,
#contact {
    padding: 50px 0;
}
#main {
    height: 40vh;
    margin-top: 97px;
}
.para {
    &-base{
      min-height: 200px;
    }
}