$content-padding: 50px;

.h2 {
    font-size: 2rem;
}
.navbar-brand {
    width: calc(100% - 72px);
}
#main {
    height: 80vh;
    .main-text {
        .h1 {
            font-size: 5rem;
        }
        p:not(.h1) {
            font-size: 1.5rem;
        }
    }
}
#works,
#about .skill-bg {
    padding-bottom: $content-padding;
}
#about {
    padding-top: $content-padding;
}
#contact {
    padding: $content-padding 0;
}
